
#colorPalette {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 50px;
}
.color {
    border: 1px solid black;
    display: inline-block;
    height: 40px;
    width: 40px;
}


#pixel-board{
    margin: auto;
    border-collapse: collapse;
}

.pixel {
   background-color: white;
   background: white;
   display: inline-block;
   border: solid 1px black;
   width: 40px;
   height: 40px;    

}