#color-pallete {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.color {
    border: 1px solid black;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: center;

}

#black {
    background-color: black;
}

#orange {
    background-color: orange;
}

#cyan {
    background-color: cyan;
}

#purple {
    background-color: purple           ;
}

#pixel-board{
    border-collapse: collapse;
}

.pixel {
   background-color: rgb(255, 255, 255);
   display: inline-block;
   border: solid 1px black;
   width: 40px;
   height: 40px;    
}