* {
    text-align: center;
    margin: 0 auto;
  }

body {
    background-size: 100%;
    background-image: linear-gradient(to left, #4c6c81, #042a55);
}

#title {
    text-align: center;
    border-radius: 5px;
    margin: 30px auto;
    letter-spacing: 3px;
    color: black;
    background: linear-gradient(to bottom, rgb(142, 167, 221), rgb(52, 107, 117));
  }

#color-pallete {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.color {
    height: 40px;
    width: 40px;
    display: inline-block;
    border: 1px solid black;
    box-shadow: 0 0 2px black;
    margin: 2px;
    border-radius: 45px;
}

#black {
  background-color: black;
}

#orange {
  background-color: orange;
}

#cyan {
  background-color: cyan;
}

#purple {
  background-color: purple;
}

#crimson {
  background-color: crimson;
}

#menu {
  text-align: center;
  margin: 10px;
  font-size: 16px;
  padding: 5px;
}

#pixel-board{
  display:flex;
  background-color: rgb(37, 75, 110);
  width: fit-content;
  margin: auto;
  
}

.pixel {
   background-color: rgb(40, 82, 121);
   border: solid 1px black;
   width: 40px;
   height: 40px;  
   border-radius: 45px;  
}